$background: linear-gradient(to bottom, #405166 0%,#656f6f 100%);
$red: #e55643 ;
$shadow: #533d4a;
$white : #ffffff;

body {
    background-color: $white;
}

::-webkit-scrollbar { 
    display: none; 
}


.main-container {
    position: relative;

    &__center-block {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 265px;
        text-align: center;
        @include nodraggable();
        background-position: center;
        background-size: cover;
        background-image: url(../img/404-bg-image.jpg);

        @media screen and (min-width: 375px) {
            background-size: 148%;
        }

        @media screen and (min-width: 768px) {
            background-size: cover;
        }

        @media screen and (min-width: 1024px) {
            font-size: 34px;
            height: 324px;
        }

        @media screen and (min-width: 1280px) {            
            height: auto;
        }

        & > img {
            width: 350px;
            margin-bottom: 5px;
            @include nodraggable();

            @media screen and (min-width: 1024px) {
                width: 530px;
            }

            @media screen and (min-width: 1280px) {
                width: 726px;
            }
        }

        &__text {
            position: absolute;
            bottom: -14px;
            left: 0;
            right: 0;
            margin: 0 7.69%;
            
            h1 {
                margin: 0;
                color: #77bdf1;
                font-size: 16px;
                line-height: 18px;
                text-transform: uppercase;

              span {
                min-height: 1px;
                min-width: 10.1px;
                font-style: italic;
                position: relative;
              }
            }

            @media screen and (min-width: 375px) {
                bottom: -21px;
            }

            @media screen and (min-width: 425px) {
                bottom: -28px;
                h1 {
                    font-size: 21px;
                }
            }

            @media screen and (min-width: 600px) {
                bottom: -49px;
                margin: 0 3%;

                h1 {
                    font-size: 28px;
                }
            }

            @media screen and (min-width: 1024px) {
                bottom: -30%;


                & > br {
                    display: none;
                }                
            }

            @media screen and (min-width: 1280px) {            
                bottom: 0;
            }
        }

        &__inner {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            margin: auto;
            top: 25%;
            bottom: 0;
            left: 0;
            right: 0;
            height: inherit;

            div {
                font-weight: 900;
                font-style: italic;
                width: -webkit-fill-available;

                @media screen and (min-width: 375px) {
                    font-size: 21px;
                }

                @media screen and (min-width: 600px) {
                    font-size: 28px;
                    margin-top: 7px;
                }

                
                @media screen and (min-width: 1024px) {
                    font-size: 42px;
                    margin-top: 0;
                }
        
                @media screen and (min-width: 1280px) {            
                    font-size: 49px;
                }
            
            }

            .keko-img {
                width: 520px;
                height: 200px;

                @media screen and (min-width: 600px) {
                    width: 820px;
                    height: 300px;
                }
                
                @media screen and (min-width: 1280px) {            
                    width: 1200px;
                    height: 500px;
                }

                picture img {
                    max-width: 100%;
                    @include bounce-arrow(bounce 5s infinite);
                }
            }

            @media screen and (min-width: 375px) {
                top: 30%;
            }

            @media screen and (min-width: 425px) {
                top: 32%;
            }

            @media screen and (min-width: 600px) {
                top: 40%;
                width: 500px;
            }

            @media screen and (min-width: 1024px) {
                top: 45%;
                width: 680px;
            }
    
            @media screen and (min-width: 1280px) { 
                top: 32%;
                width: 1000px;
            }
        }
    }    
}